<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600&display=swap');
        *{
            font-family: 'Roboto Slab', serif;
        }
        form{
            max-width: 300px;
            margin: 0 auto;
        }
        /* Chrome, Safari, Edge, Opera */
        input.number::-webkit-outer-spin-button,
        input.number::-webkit-inner-spin-button {
          -webkit-appearance: none;
           margin: 0;
        }

       /* Firefox */
       input[type=number] {
         -moz-appearance: textfield;
        }
        label{
            display: block;
            text-align: center;
        }  
        .number{
            width: calc(25% - 2px);
            font-size: 4em;
            float: left;
            text-align: center;
            margin: 0;
            padding: 0;
            border: 1px solid #333;          
        }
        button{
            width: 100%;
            color: #fff;
            background-color: #333;
            padding: 10px;
            margin-top: 2em;
        }
    </style>
</head>
<body>
    <form action="" method="post">
        <div>
            <label>PIN</label>
            <input type="number" class="number" name="v1">
            <input type="number" class="number" name="v2">
            <input type="number" class="number" name="v3">
            <input type="number" class="number" name="v4">
        </div>
        <button type="submit">Verificar</button>
    </form>
</body>
</html>